<h1>Hello <%= @user.username %>!</h1>

<div style="margin:10px 0;">
You have been successfully registered <%= configatron.site_name.capitalize %>!

<br />
Please click the below link to activate your account.
<br />
<%= @activation_link %>

Thanks!
</div>